<div class="blurb">
    <div class="words clearfix">
       <div class="binary">
            <span ng-mouseover="addNumber($event)">B</span>
            <span ng-mouseover="addNumber($event)">i</span>
            <span ng-mouseover="addNumber($event)">n</span>
            <span ng-mouseover="addNumber($event)">a</span>
            <span ng-mouseover="addNumber($event)">r</span>
            <span ng-mouseover="addNumber($event)">y</span>
       </div>
       <div class="for">
            <span ng-mouseover="addNumber($event)">F</span>
            <span ng-mouseover="addNumber($event)">o</span>
            <span ng-mouseover="addNumber($event)">r</span>
       </div>
       <div class="noobs">
            <span ng-mouseover="addNumber($event)">N</span>
            <span ng-mouseover="addNumber($event)">o</span>
            <span ng-mouseover="addNumber($event)">o</span>
            <span ng-mouseover="addNumber($event)">b</span>
            <span ng-mouseover="addNumber($event)">s</span>
       </div>
   </div>
   <div class="playBtn">
       <button><a href="#/play">Play</a></button>
   </div>
</div>