<div class="blurb">
    <div class="words">
       <div class="binary">
            <span>B</span>
            <span>i</span>
            <span>n</span>
            <span>a</span>
            <span>r</span>
            <span>y</span>
       </div>
       <div class="for">
            <span>F</span>
            <span>o</span>
            <span>r</span>
       </div>
       <div class="noobs">
            <span>N</span>
            <span>o</span>
            <span>o</span>
            <span>b</span>
            <span>s</span>
       </div>
   </div>
</div>