<div class="playground">
    <div class="task">
        <h1>Represent 100 bites by clicking on the bulbs!</h1>
    </div>
    <div class="bulbs">
        <div class="{{onetwentyeight.num}}">
            <p>{{onetwentyeight.val}}</p>
            <i class="fa fa-lightbulb-o fa-5x"></i>
        </div>
        <div class="{{sixtyfour.num}}">
           <p>{{sixtyfour.val}}</p>
           <i class="fa fa-lightbulb-o fa-5x"></i>
        </div>
        <div class="{{thirtytwo.num}}">
            <p>{{thirtytwo.val}}</p>
            <i class="fa fa-lightbulb-o fa-5x"></i>
        </div>
        <div class="{{sixteen.num}}">
            <p>{{sixteen.val}}</p>
            <i class="fa fa-lightbulb-o fa-5x"></i>
        </div>
        <div class="{{eight.num}}">
            <p>{{eight.val}}</p>
            <i class="fa fa-lightbulb-o fa-5x"></i>
        </div>
        <div class="{{four.num}}">
            <p>{{four.val}}</p>
            <i class="fa fa-lightbulb-o fa-5x"></i>
        </div>
        <div class="{{two.num}}">
            <p>{{two.val}}</p>
            <i class="fa fa-lightbulb-o fa-5x"></i>
        </div>
        <div class="{{one.num}}">
            <p>{{one.val}}</p>
            <i class="fa fa-lightbulb-o fa-5x"></i>
        </div>
    </div>
</div>