@import url(../../bower_components/normalize-css/normalize.css);
* {
  margin: 0;
  padding: 0;
  font-size: 14px; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

*:first-child + html .clearfix {
  zoom: 1; }

html, * {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/* HomeTemplate */
body #blurb {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  background-image: url("../img/bg4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
body .contacts {
  top: 0;
  left: 0;
  position: absolute;
  height: 50px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  body .contacts a {
    color: white;
    margin-right: 3%;
    font-size: 1.2rem;
    font-family: "Arvo", serif; }
body .words {
  display: flex;
  justify-content: center;
  color: #E0E0E0; }
  body .words .binary {
    margin: 20px; }
    body .words .binary span {
      font-size: 6rem;
      text-transform: uppercase;
      font-family: "Orbitron", sans-serif;
      text-shadow: 2px 2px #880E4F; }
  body .words .for {
    margin: 20px; }
    body .words .for span {
      font-size: 6rem;
      text-transform: uppercase;
      font-family: "Orbitron", sans-serif;
      text-shadow: 2px 2px #880E4F; }
  body .words .noobs {
    margin: 20px; }
    body .words .noobs span {
      font-size: 6rem;
      text-transform: uppercase;
      font-family: "Orbitron", sans-serif;
      text-shadow: 2px 2px #880E4F; }
body .playBtn {
  width: 100%;
  height: 20%;
  margin-top: 28px; }
  body .playBtn button {
    width: 180px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #B2B2B2;
    border-radius: 5px; }
    body .playBtn button:hover {
      background: rgba(219, 219, 219, 0.1); }
    body .playBtn button a {
      padding: 15px 25px;
      font-size: 1.5rem;
      text-transform: uppercase;
      font-family: "Orbitron", sans-serif;
      color: #FCE4EC; }

/* PlayTemplate */
#playground {
  width: 100%;
  height: 100vh;
  padding: 15% 0;
  background-image: linear-gradient(to bottom, #E3E0DC 0%, #CCC1AF 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
  position: relative; }
  #playground .task {
    width: 90%;
    padding-bottom: 6%;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: no-wrap; }
    #playground .task h1 {
      height: 10%;
      margin: 0;
      font-family: "Arvo", serif;
      font-size: bold; }
    #playground .task #goal {
      text-decoration: underline;
      margin: 0 2%;
      color: #A5C4AB; }
  #playground .bulb {
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-size: 3rem; }
    #playground .bulb div {
      cursor: pointer; }
  #playground .result {
    width: 100%;
    text-align: center;
    padding-top: 3%;
    visibility: hidden; }
    #playground .result h2 {
      font-size: 1.5rem;
      color: green; }
  #playground .settings {
    width: 100%;
    height: 15%;
    background-image: linear-gradient(to bottom, #E3E3E3 0%, #B5B3B5 100%);
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; }
    #playground .settings .showHide {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      #playground .settings .showHide p {
        margin-right: 15px; }
      #playground .settings .showHide i {
        color: #505050; }
    #playground .settings .reset button {
      width: 60px;
      height: 30px;
      border-radius: 5px;
      background-color: #D0B2B2;
      border: 1px solid #898989; }
    #playground .settings .hide {
      display: flex;
      align-items: center; }
      #playground .settings .hide p {
        margin-right: 15px; }
    #playground .settings .set {
      display: flex;
      align-items: center; }
      #playground .settings .set p {
        margin-right: 15px; }
      #playground .settings .set input {
        width: 50px;
        height: 30px;
        margin-right: 15px; }
      #playground .settings .set button {
        width: 60px;
        height: 30px;
        margin-right: 15px;
        border-radius: 5px;
        background-color: #A5C4AB;
        border: 1px solid #898989; }
    #playground .settings p {
      color: #191919;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 1.2rem;
      font-weight: 600; }

/*# sourceMappingURL=style.css.map */
