@import url(../../bower_components/normalize-css/normalize.css);
* {
  margin: 0;
  padding: 0;
  font-size: 14px; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

*:first-child + html .clearfix {
  zoom: 1; }

html, * {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/* Colors */
/* Classes to toggle */
.ninety {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

/* Extends */
.letter, body .words .binary span, body .words .for span, body .words .noobs span {
  font-size: 6rem;
  text-transform: uppercase;
  font-family: "Orbitron", sans-serif;
  text-shadow: 2px 2px #C6C6C6; }

/* HomeTemplate */
body #blurb {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  background-image: url("../img/bg5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
body .contacts {
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  position: absolute;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  body .contacts a {
    color: white;
    margin-right: 3%; }
body .words {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #E0E0E0; }
  body .words .binary {
    margin: 20px; }
  body .words .for {
    margin: 20px; }
  body .words .noobs {
    margin: 20px; }
body .playBtn {
  width: 100%;
  height: auto;
  margin-top: 28px; }
  body .playBtn button {
    width: 180px;
    height: 50px;
    background-color: #E0E0E0;
    border: none;
    border-radius: 5px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    box-shadow: 1px 1px 1px #C6C6C6; }
    body .playBtn button:hover {
      background-color: #F4F4F4;
      box-shadow: 2px 2px 3px #C6C6C6; }
    body .playBtn button a {
      padding: 12px 57px;
      font-size: 1.5rem;
      text-transform: uppercase;
      font-family: "Orbitron", sans-serif;
      color: #76C284; }

/* PlayTemplate */
#playground {
  width: 100%;
  height: 100vh;
  padding: 15% 0;
  background-color: #FFE1D6;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: space-around;
      -ms-flex-line-pack: distribute;
          align-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: relative; }
  #playground .task {
    width: 98%;
    padding-bottom: 6%;
    font-size: 1.5rem;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: no-wrap;
        -ms-flex-wrap: no-wrap;
            flex-wrap: no-wrap; }
    #playground .task h1 {
      height: 10%;
      margin: 0;
      font-family: "Montserrat", sans-serif;
      font-size: bold; }
    #playground .task #goal {
      text-decoration: underline;
      margin: 0 2%;
      color: #A5C4AB; }
  #playground .bulb {
    width: 80%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-size: 3rem; }
    #playground .bulb div {
      width: 80px;
      height: 90px;
      cursor: pointer; }
      #playground .bulb div i:hover {
        color: #A5C4AB;
        -webkit-transition: 0.2s all;
        transition: 0.2s all; }
  #playground #result {
    width: 100%;
    text-align: center;
    padding-top: 3%;
    visibility: hidden; }
    #playground #result h2 {
      font-size: 2rem;
      font-weight: bold;
      text-transform: uppercase;
      color: #A5C4AB; }
  #playground #settings {
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100px;
    background-image: -webkit-linear-gradient(top, #E3E3E3 0%, #B5B3B5 100%);
    background-image: linear-gradient(to bottom, #E3E3E3 0%, #B5B3B5 100%);
    box-shadow: 3px 2px 1px 2px #363636;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-transition: 0.7s all;
    transition: 0.7s all; }
    #playground #settings .showHide {
      width: 100%;
      height: 30px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      #playground #settings .showHide p {
        margin-right: 15px; }
      #playground #settings .showHide i {
        color: #505050;
        cursor: pointer;
        -webkit-transition: 0.5s all;
        transition: 0.5s all; }
        #playground #settings .showHide i:hover {
          color: #9A9A9A; }
    #playground #settings .reset button {
      width: 80px;
      height: 40px;
      border-radius: 3px;
      background-color: #ee6e73;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      border: none;
      box-shadow: 1px 1px 1px #AFAFAF;
      -webkit-transition: 0.5s all;
      transition: 0.5s all; }
      #playground #settings .reset button:hover {
        background-color: #EF898C;
        box-shadow: 3px 3px 3px #AFAFAF; }
    #playground #settings .hide {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      #playground #settings .hide label {
        font-family: "Raleway", sans-serif;
        font-size: 1.2rem; }
        #playground #settings .hide label #hide {
          margin-left: 5px;
          vertical-align: middle;
          box-shadow: 3px 1px 1px 1px grey; }
          #playground #settings .hide label #hide:checked {
            box-shadow: 2px 1px 1px 1px grey; }
    #playground #settings .set {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      #playground #settings .set input {
        width: 50px;
        height: 40px;
        margin-right: 15px; }
      #playground #settings .set button {
        width: 160px;
        height: 40px;
        margin-right: 15px;
        border-radius: 3px;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        background-color: #26a69a;
        box-shadow: 1px 1px 1px #AFAFAF;
        border: none;
        -webkit-transition: 0.5s all;
        transition: 0.5s all; }
        #playground #settings .set button:hover {
          background-color: #2BC0B1;
          box-shadow: 3px 3px 3px #AFAFAF; }
    #playground #settings p {
      color: #323232;
      font-family: "Raleway", sans-serif;
      font-size: 1.2rem; }
