doctype html
html
    head
        title Binary for Noobs
        link(rel='stylesheet', type='text/css', href='bower_components/animate.css/animate.min.css')
        script(src='https://code.angularjs.org/1.5.3/angular.min.js')
        link(rel='stylesheet', type='text/css', href='assets/css/style.css')
    body
        header
          .blurb
            h1 Binary for Noobs
            h2 Let's get started!
            button(class='.playButton') Play
